/* Resetting the styles for list items */
.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  gap: 16px; 
  list-style: none; 
  padding: 0; 
}


.pokemon-list li {
  flex: 1 1 150px;  /* This sets the flex-basis (or the "ideal" size) of each item to 150px */
  display: flex;    /* This turns each li into a flex container too */
  justify-content: center; /* This centers the button within each li */
}

/* Resetting and styling the ball button */
.btn-ball {
  width: 100px; /* Increase the size of the ball */
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(red, red 50%, white 50%, white);
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end; /* align the text to the bottom */
  justify-content: center;
  color: black; /* Text color */
  padding-bottom: 10px; /* Space from bottom */
}

.btn-ball::before,
.btn-ball::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
}

.btn-ball::before {
  width: 90px; /* Adjust according to the button's size */
  height: 5px;
}

.btn-ball::after {
  width: 15px; /* Adjust according to the button's size */
  height: 15px;
  border-radius: 50%;
}


.btn-ball:hover {
  background-color: #e5b605;
}

.pokemon-modal-image {
  width: 300px;  /* Adjust this value to your preference */
  height: auto; /* To maintain aspect ratio */
  display: block;
  margin: 0 auto; /* Center the image in the modal */
}
