@font-face {
  font-family: 'Press Start 2P';
  src: url('CSS/fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Default to 1 button per row for very small devices */
.pokemon-list {
  /* ... other styles ... */
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  /* ... other styles ... */
}

/* 2 buttons per row for slightly larger devices, for example >= 480px */
@media screen and (min-width: 480px) {
  .pokemon-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 3 buttons per row for devices >= 768px, e.g., tablets in portrait */
@media screen and (min-width: 768px) {
  .pokemon-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 4 buttons per row for devices >= 1024px, e.g., tablets in landscape/desktops */
@media screen and (min-width: 1024px) {
  .pokemon-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* 5 buttons per row for larger desktop screens >= 1200px */
@media screen and (min-width: 1200px) {
  .pokemon-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* 6 buttons per row for larger widescreen devices >= 1440px */
@media screen and (min-width: 1440px) {
  .pokemon-list {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 1640px) {
  .pokemon-list {
    grid-template-columns: repeat(8, 1fr);
  }
}


.pokemon-list li {
  background: none;       /* Remove any background color */
  border: none;           /* Remove any borders */
  margin: 0;              /* Remove any margins */
  padding: 0;             /* Remove any padding */
}


/* Resetting and styling the ball button */
.btn-ball {
  font-family: 'Press Start 2P', cursive;
  outline: none;
  background: none;
  border: none;
  width: 200px; /* Increase the size of the ball */
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(rgb(173, 3, 3), rgb(255, 0, 0) 50%, rgb(255, 255, 255) 50%, rgb(228, 221, 221));
  border: 5px solid black;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end; /* align the text to the bottom */
  justify-content: center;
  color: rgb(14, 147, 199); /* Text color */
  padding-bottom: 50px; /* Space from bottom */
  overflow: hidden;
  color: #333; /* Dark color for better visibility */
  font-size: 15px; /* Adjust to your preference */
  
}

.btn-ball::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0; /* Starts from the left edge of the ball */
  width: 100%;  /* Stretches the full width of the ball */
  height: 5px;  /* The thickness of the line */
  background: black;
  transform: translateY(-50%); /* Center the line vertically */
}

.btn-ball::after {
  width: 15%;  /* 15% of the button's width */
  height: 15%; /* 15% of the button's height */
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  border-radius: 50%;  /* To ensure it stays a circle */
}






.btn-ball:hover {
  background: linear-gradient(#740000, #d10000 50%, #acabab 50%, #f2f2f2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.pokemon-modal-image {
  border: none;
  width: 300px;  /* Adjust this value to your preference */
  height: auto; /* To maintain aspect ratio */
  display: block;
  margin: 0 auto; /* Center the image in the modal */
}



.btn-pokeball {
  /* ... other styles ... */

  font-family: 'Press Start 2P', cursive, Arial, sans-serif; /* If 'PokemonFont' isn't available, fallback to Arial or sans-serif */
  color: #333; /* Dark color for better visibility */
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3); /* Slight shadow for depth */
  font-size: 5px; /* Adjust to your preference */
  
}

/* Optional: Style for hover effect on text */
.btn-pokeball:hover {
  color: #111; /* Slightly darker color on hover */
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); /* Stronger shadow on hover */
}

/* Modal Content */
.modal-content {
  background: linear-gradient(135deg, #ffee00, #fcfcfc); /* Gradient from yellow to red */
  border: 3px solid #000;  /* Black border */
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);  /* Shadow with black */
  color: #000;  /* Black text color */
  font-family: 'Press Start 2p', cursive;
}

/* Modal Header and Footer */
.modal-header {
  background: linear-gradient(135deg, #f7b80a, #f57e7e);  
  color: black;  /* Yellow text color */
  border: none; /* Removing borders */
  padding: 10px 20px;  /* Spacing */
}
.modal-footer {
  background: linear-gradient(135deg, #f57e7e, #f7b80a);
  color: black;  /* Yellow text color */
  border: none; /* Removing borders */
  padding: 10px 20px;  /* Spacing */
}
/* Close button */
.close {
  color: #000 !important;  /* Black color */
  opacity: 1 !important;  /* Override default opacity */
}

.close:hover {
  color: #1E90FF;  /* Bright blue on hover */
  opacity: 1; 
}




/* Additional contrast styling for any other modal elements */
.modal-body {
  border-top: 3px solid #000; /* Black border separating header from body */
  border-bottom: 3px solid #000; /* Black border separating footer from body */
}

header h1, h2 {
  font-family: 'Press Start 2P', cursive;
}

body {
  background-color: rgba(248, 248, 106, 0.993);
  background-image: url('/imgs/allPokemon.png');
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center; 
}


main p {
  font-family: 'Press Start 2P', cursive;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: lightblue;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-logo {
  font-size: 24px;
  font-weight: bold;
  /* If you want to use the "Press Start 2P" font for the logo too: */
  font-family: 'Press Start 2P', cursive;
}

.nav-search {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: box-shadow 0.3s ease;

  /* Optional: Adding a subtle shadow on focus for better UX */
  &:focus {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
}

.custom-navbar {
  font-family: 'Press Start 2P', cursive;
  background-color: lightblue;  /* or any other color of your choice */
  font-size: 1.5rem;  /* adjust size to make navbar text larger */
  padding: 20px;  /* increase padding to make navbar taller */
}
